<div class="messages">
  <% @talks.each do |talk| %>
    <li class='list' style="list-style: none;">
      <div class='item-info'>
        <h3 class='item-name'>
          タイトル: <%= talk.title %>
          ,登録ユーザー:<%= talk.user.nickname %>
        </h3>
      </div>
      <%# <%= link_to  talks_path(talk) do %> 
        <div class='item-img-content'>
           <textarea class="text-area" id="text"><%= talk.talk_text%></textarea> 
           <select id="voice-select"></select>
           <button id="speak-btn">再生</button>
           <button id="cancel-btn">停止</button>
           <%# <button id="pause-btn">一時停止</button>
           <button id="resume-btn">再開</button> %>
        </div>
        <%= link_to '#' do %>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <span class='star-count'>0</span>
          </div>
        <% end %>

      <%# <% end %> 
    </li>
  <% end %>
  


</div>




