<%= render "shared/second-header"%>
<div class="items-sell-contents">
  <%# <header class="items-sell-header"> %>
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
  <%# </header> %>
  <div class="items-sell-main">
    <h2 class="items-sell-title">トーク内容を入力</h2>
    <%= form_with model: @talk, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージを表示 %>
    <%# <%= render 'shared/error_messages', model: f.object %> 

 
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"題名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          エピソードトーク内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :talk_text, class:"items-text", id:"text", placeholder:"トーク内容（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
           <select id="voice-select"></select>
           <button id="speak-btn">再生</button>
           <button id="cancel-btn">停止</button>
      </div>
    </div>
    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">トークの分類</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>

    <%# 注意書き %>
    <%# <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        <a href="#">偽ブランドの販売</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div> %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>

  </footer>
</div>